# AWS Mocking information
#mock
moto

# Python Testing
pytest
pytest-cov

# External Build Tools
coverage>=4.0,<4.4
codeclimate-test-reporter==0.2.3

# Swagger API Documentation
flask-restful-swagger
